<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=1b51fc19-86bf-425c-8198-a2d200ebe4a1.sqlserver.sequelizer.com;Database=db1b51fc1986bf425c8198a2d200ebe4a1;User ID=vfmfqtcupamukquo;Password=3hKyppfTdQPwgtiskLmiVNXDhPzeuEKqNvdavS7KgRh6fRPpZjKVBMVnsgqHWayE;" />
  </connectionStrings>
</configuration>